.main-container {
  height: 100%;
  width: 100%;
  // background-image: url("https://imdb-api.com/posters/original/lz1SZ43tN30GoEW3uANx5cWtZSQ.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
